:root {
    --light-red: rgb(255, 105, 105);
    --orangey-yellow: rgb(255, 189, 105);
    --green-teal: rgb(59, 255, 105);
    --cobalt-blue: rgb(60, 118, 255);

    --white: rgb(255, 255, 255);
    --pale-blue: rgb(213, 240, 255);
    --light-lavender: rgb(229, 204, 255);
    --dark-gray-blue: rgb(58, 89, 134);

    --opacity-containers: 0.5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 50%;
}

/* LEFT SECTION */

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    padding-top: 2%;
    color: var(--white);
    border-radius: 20px;
    height: 63vh;
}

.gradient-background {
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.circle-container {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.left-section > h2, .total-max-score-text {
    opacity: 0.7;
}

.total-score-text {
    font-weight: 800;
    font-size: 64px;
}

.left-section > p {
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
    opacity: 0.7;
}

.left-section > h3,
.left-section > div,
.left-section > h2, 
.left-section > p {
    margin: 3%;
}

/* RIGHT SECTION */

.right-section {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    flex-basis: 50%;
    padding: 7%;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#reaction-container {
    background-color: rgba(255, 105, 105, 0.1);
}

#memory-container {
    background-color: rgba(255, 189, 105, 0.1);
}

#verbal-container {
    background-color: rgba(59, 255, 105, 0.1);
}

#visual-container {
    background-color: rgba(60, 118, 255, 0.1);
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#reaction-text {
    color: var(--light-red);
}

#memory-text {
    color: var(--orangey-yellow);
}

#verbal-text {
    color: var(--green-teal);
}

#visual-text {
    color: var(--cobalt-blue);
}

/* FONT INFO

font-family: "Hanken Grotesk", sans-serif;
font-weight: 500, 700, 800;

*/